
body {
    background-color: #CAC4B0;
  }
  body {
    color: #3E5F8A;
  }


  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.jumbotron .h1, .jumbotron h1 {
  color:#8076a3
}
.e {
  border: 5px solid white;
  height: 70%;
  width: 100%;
  background:lightblue;
}